#PRIMER ACTIVIDAD EN CLASE

In [ ]:
#ESTO ES UN COMENTARIO DE UNA LINEA, NO VISIBLE EN LA EJECUCIÓN
'''
Esto es un comentario de parrafo, VISIBLE EN LA EJECUCIÓN
'''

'\nEsto es un comentario de parrafo, VISIBLE EN LA EJECUCIÓN\n'

In [ ]:
X = 10 #Esto es una variable int 
Y = 5.1 #Esto es una variable float 

Z = X + Y #Esto es una suma entre un int y float
print(Z) #Esto imprime el resultado de la suma.

15.1

In [ ]:
#PROBANDO OPERACIONES LOGICAS

#AND
Status1 = True #Esto es una variable booleana 
Status2 = True

Status1 and Status2 #Esto es un operador AND

True

In [ ]:
#OR
Status3 = False #Esto es una variable booleana
Status4 = True

Status3 or Status4 #Esto es un operador OR

True

In [ ]:
#NOT
Status5 = False #Esto es una variable booleana
Status6 = False

#REVISAR EL OPERADOR NOT PARA LA VERSION DE PYTHON USADA....
Status5 not Status6 #Operador not

SyntaxError: ignored

In [ ]:
nombre = "Mario" #Esto es un string/cadena 
apellido = "De Los Santos"
age = 10 #Esto es un entero
print(nombre + " " + apellido + " Edad: " + str(age)) #Y aqui, transforme el entero a una cadena

Mario De Los Santos Edad: 10

In [ ]:
from typing import MutableSet
#Operaciones matematicas
#Resta
num1 = 5 #Entero
num2 = 5 #Entero

resta = num1 - num2 #Esto es una resta
print("Resultado de la resta es: ", resta) #IMPORTANTE: OBSERVA LA COMA

#Multiplicación
n_3 = 8 #Entero
n_4 = 3 #Entero

mult = n_3 * n_4 #Esto es una multiplicación
print("Resultado de la multiplicacion es: ", mult)

#Division 
num_1 = 30 #Entero
num_2 = 5.3 #Flotante

Division = num_1 / num_2 #Esto es una division
print("Resultado de la division es: ", Division)

#Modulo
n_5 = 31 #Entero
n_6 = 2

M = n_5 % n_6 #Esto es una operación modulo
print("Resultado del modulo es: ", M)

Resultado de la resta es:  0
Resultado de la multiplicacion es:  24
Resultado de la division es:  5.660377358490567
Resultado del modulo es:  1

In [ ]:
#OPERADORES DE COMPRACIÓN
x = 10
Y = 9

x == Y #Son iguales?

False

In [ ]:
x = 10
Y = 9

x != Y #Son diferentes?

True

In [ ]:
x = 10
Y = 9

x > Y #X es mayor que Y?

True

In [ ]:
x = 10
Y = 9

x < Y #X es menor que Y?

False

In [ ]:
x = 10
Y = 9

x <= Y #X es menor-igual que Y?

False

In [ ]:
x = 25
Y = 20

x >= Y #X es mayor-igual que Y?

True

In [ ]:
#Entradas del usuario

Entrada1 = input("Dame un numero: ") #Esto es una entrada 
Entrada2 = input("Dame otro numero: ") #Esto es una entrada 

#type(Entrada1) #Me esta diciendo que Entrada1 es una cadena de formato "10"

Entrada1_num = int(Entrada1) #Esto me transforma str en int 
Entrada2_num = int(Entrada2) #Esto me transforma str en int 

type(Entrada1_num) #Me esta diciendo que es un 

#OPERACIÓN

Operacion = (Entrada1_num / Entrada2_num) - 5 #Operación compuesta
print("Resultado de la operación es: ", Operacion)

Dame un numero: 15
Dame otro numero: 30
Resultado de la operación es:  -4.5